.modal_section {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 50vw;
  height: 50vh;
  margin-top: 2rem;
}

.modal_btn {
  position: absolute;
  z-index: 1;
  left: 95%;
  top: 3%;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  padding: 0.35rem;
  background-color: rgba(76, 76, 76, 0.844);
  color: rgb(255, 255, 255);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.modal_videoPlayer {
  position: relative;
  padding-top: 56.25%;
}
.modal_plays {
  position: absolute;
  left: 5%;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.wishlist_btn,
.like_btn {
  background-color: rgba(240, 248, 255, 0.125);
  cursor: pointer;
  border-radius: 50%;
  border: 0.5px solid rgba(255, 255, 255, 0.734);
  padding: 0.35rem;
  color: white;
}
.play_btn {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.modal_description {
  padding: 1rem;
  height: 50%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}
.modal_overview {
   width: 70%;
}
.modal_overview_content{
    display: flex;
    gap: 0.8rem;

}
.modal_overview_content p:nth-child(1) {
    color: rgba(165, 239, 55, 0.87)
 }
 .modal_overview_content p:nth-child(2) {
    color: rgb(166, 166, 166);
 }
 .modal_overview_content p:nth-child(3) {
    color: rgb(166, 166, 166);
    background-color: rgba(170, 170, 170, 0.438);
    padding: 0 0.3rem;
    color: white;
    font-size: medium;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.modal__content{
    /* padding: 0 2rem; */
 font-size: 0.9rem;
}
.modal__content p{
    color: rgb(166, 166, 166);
    
}
.modal__content span {
    color: rgb(255, 255, 255);
}