.logo{
    width: 138px;
    padding-top: 1rem;
}
@media screen and (max-width: 992px) {
    .logo{
        width: 108px;
        padding-top: 1rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    .logo{
        width: 108px;
        padding-top: 1rem;
    }
  }
  